body {
  background: whitesmoke;
  color: black;
  margin: 20px;
}

.text {
  width: 40%;
  margin: left;
}

.navbar ul {
  list-style-type: none;
  background-color: rgb(147, 189, 234);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: none;
}

.navbar li {
  float: left;
}

.table_column {
  color: blue;
}
